body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

/*Flex and grid are properly used for layout
*/

/*Homepage*/
.homepage_title {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  border:  solid;
  border-radius: 2em;
  border-style: inset;
}

.book_list_container {
  border: 10px solid lightblue;
  border-style: double;
  background-color: rgb(203, 178, 226);
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.book_titles {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book_covers {
  border: 5px inset goldenrod;
}

.book_authors {
  font-style: bold;
  font-size: 2ch;
}

/*SingleBook styling*/
#single_book_container {
  background-color: rgb(203, 178, 226);
  border: 10px solid lightblue;
  border-style: double;
}

.single_book_cover {
  border: 5px inset goldenrod;
}

.book_descriptions{
  font-size: 1cap;
  text-wrap: wrap;

}

.availability {
  padding-left: 40px;
  text-decoration:solid;
  
}

/*login styling*/
.login_container {
  background-color: rgb(203, 178, 226);
  border: 10px solid lightblue;
  border-style: double;
}

.welcome_back {
  background-color: rgb(203, 178, 226);
  border: 10px solid lightblue;
  border-style: double;
}

/*Register Page styling*/
.register_container {
  background-color: rgb(203, 178, 226);
  border: 10px solid lightblue;
  border-style: double;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Account Page styling*/
.account_container {
  background-color: rgb(203, 178, 226);
  border: 10px solid lightblue;
  border-style: double;
}

.button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: background-color 0.3s ease;
}
.button:hover {
  border:inset;
  background-color: rgb(168, 123, 211)
}



/*proper use of cascading and specificity to prevent bleed into unrelated elements
/*intuitive User Experience (UX) through a clean interface